
.container {
    width: 250px;
    background-color: #040440;
    padding: 15px;
    min-height: 100vh;
    height: 100%;
    position: relative;
}
.cardContainer {
    margin-top: 30px;
}
.cardContainer > :first-child{
  background-color: #f0f0f033;
}
#backButton {
  display: block;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.userCard {
  position: relative;
  background-color: #f0f0f033;
  padding : 10px;

}
.fixedPosition {
  width: 70%;
  max-width: 250px;
  position: fixed;
  top: 80vh;
  left : 0;
  
}
@media screen and (min-width : 700px) {
  #backButton {
    display: none;
  }
}